---
---

@import "{{ site.theme }}";

body {
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
}
p {text-indent: 2em;}
ul.nav {
    font-size: 18px;
}
header a.button{
    background: transparent url(../images/koha-logo.png) 0 0 no-repeat;
}
