---
---

@import "{{ site.theme }}";

body {
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
}
p {text-indent: 2em;}
ul.nav {
    font-size: 16px;
}
